body{
    font-family: 'Montserrat', sans-serif;
    background: #fff
}
button{
  font-family: Montserrat !important
}
/* VARIABLES */
:root{
  --primary-color: #5555ff;
  --secondary-color: rgba(0,0,0,.8);  
}

/* PHOTO FAVOURITE IMAGES */
.photo {
  overflow: hidden
}
.photo:hover .photo-head{
  visibility: visible;
  opacity: 1;
  transition:  opacity .3s;
}
.photo .photo-head{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
  background: transparent;
  width: 95%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  z-index: 999;
}

.photo .photo-head:after{
  content: '';
  position: absolute;
  width: 100%;
  box-shadow:  0px -50px 30px rgba(0,0,0,.5);
  height: 35px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.photo .favorite{
  color: red;
  animation: scale .2s linear
}
@keyframes scale{
  from{
      transform: scale(1)
  }
  to{
      transform: scale(1.5)
  }
}

